@model Brand

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-uppercase text-center"> Create Brand</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 border-1 border">
            <form method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <label asp-for="Name" class="form-label"></label>
                    <input asp-for="Name" class="form-control" autocomplete="on" />
                    <span asp-validation-for="@Model.Name" class="text-danger"> </span>
                </div>
                <div class="mb-3">
                    <label asp-for="EstablisedYear" class="form-label"></label>
                    <input asp-for="EstablisedYear" type="number" class="form-control" min="1900" max="@DateTime.Now.Year" step="1" placeholder="YYYY" />
                    <span asp-validation-for="@Model.EstablisedYear" class="text-danger"> </span>
                </div>

                <div class="mb-3">
                    <label asp-for="BrandLogo" class="form-label"></label>
                    <input type="file" asp-for="BrandLogo" class="form-control" autocomplete="off" />
                </div>
                <div class="mb-3">
                    <a asp-controller="Brand" asp-action="Index" class="btn btn-danger">Back</a>
                    <button type="submit" class="btn btn-success">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_validationScriptsPartial" />
}