@{
    ViewData["Title"] = "Welcome to Keep Learning";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>.Net Core MVC (Model-View-Controller) Project Demo Tutorial</p>
</div>
<div class="d-flex justify-content-center align-items-center" style="height: 100%;">
       <img src="~/images/ASP.NETCoreMVC.png" alt="Description of the image" />
</div>

